.message{
    border: lightgreen solid 1px ;
    padding: 5px;
    max-width: 30vw;
    border-radius: 15px;
    color: white ;
    background-color: rgb(98, 89, 177);
    min-width: 40vh;
}

.friend-name{
    position: relative;
    top: 40%;
    left: 40%;
}

.spinner-border{
    position: relative;
    left: 50%;
}
.messages-cont{
    height: 87vh;
    width: 89.5vw ;
}
.owner{
    background-color: aquamarine ;
    margin-left: 30% ;
}