.message{
    border: lightgreen solid 1px ;
    padding: 5%;
    border-radius: 15px;
    color: white ;
    background-color: darkgoldenrod;
    min-width: 40vh;
}

.friend-name{
    position: relative;
    top: 40%;
    left: 40%;
}

.spinner-border{
    width: 200px;
    height: 200px;
}