.dash{
    display: flex ;
    flex-direction: row;

}

app-chat{
    width: 80% ;
    border: 3px solid red ;
    
    
}

span{
    color: cornflowerblue
}
/* :host app-users-list{
    background-color: #2c1b41;
} */
header{
    border-bottom: 2px solid black;
    position: absolute;
    z-index: 2;
    width: 100%;
}