.dash{
    display: flex ;

}

app-chat{
    width: 80% ;
    border: 3px solid red ;
    
    
}
.verLine{
    margin-right: 3%;
    border-left: 2px solid #7942b8;
    height: 95vh;
}
span{
    color: cornflowerblue
}