.dash{
    display: flex ;
    flex-direction: row;
    background-color: white;



}
/* :host app-chat{
    width: 550px;
} */


span{
    color: cornflowerblue
}
/* :host app-users-list{
    background-color: #2c1b41;
} */
header{
    border-bottom: 2px solid black;
    position: relative;
    z-index: 2;
    width: 100%;
}

.blur{
    background: #ffd83c;
    filter: blur(3px);
}
.spinner-border{
    position: relative;
    left: 50%;
}