.dash{
    display: flex ;
    flex-direction: row;

}

app-chat{
    width: 80% ;
    border: 3px solid red ;
    
    
}

span{
    color: cornflowerblue
}
:host app-users-list{
    background-color: #2c1b41;
}