.users-list{
    /* width: 20%; */
}

   .col-12{
       height: 100vh;
   }

.friend{
    color: white ; 
    /* background-color: #321c4b; */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 0.1% ;
}
.friend:hover{
    background-color: rgb(75, 36, 112);
}