
   .col-12{
       height: 100vh;
       overflow-y: auto;
   }

.friend{
    color: rgb(129, 67, 67) ; 
    /* background-color: #321c4b; */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    height: 50px;
    width: 200px;
    text-align: center;
}
.friend:hover{
    /* background-color: rgb(75, 36, 112); */
    color: #13013b ; 
    cursor: pointer;
}
button{
    z-index: 2;
}